if SHIELD_TEMPER_DONGLE

config ZMK_KEYBOARD_NAME
	default "temper_dongle_2"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_USB
	default y

config ZMK_SPLIT
    default y

endif


if SHIELD_TEMPER_LEFT || SHIELD_TEMPER_RIGHT

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default n

config ZMK_KEYBOARD_NAME
	default "temper_dongle_peripheral"
endif
