if SHIELD_CORNE_DONGLE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Corne Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_CORNE_DONGLE_DONGLE || SHIELD_CORNE_DONGLE_LEFT || SHIELD_CORNE_DONGLE_RIGHT

config ZMK_SPLIT
    default y

endif
