# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNE_DONGLE_DONGLE
    def_bool $(shields_list_contains,corne_dongle_dongle)

config SHIELD_CORNE_DONGLE_LEFT
    def_bool $(shields_list_contains,corne_dongle_left)

config SHIELD_CORNE_DONGLE_RIGHT
    def_bool $(shields_list_contains,corne_dongle_right)
